.cell-content {
  padding: 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  cursor: default;
  position: relative;
  user-select: none;

  &.hide-content {
    background-image: repeating-linear-gradient(
      -45deg,
      /* 倾斜角度，负值表示从右下到左上 */ rgba(0, 0, 0, 0.3),
      /* 线条颜色 */ rgba(0, 0, 0, 0.3) 1px,
      /* 线条粗细 */ transparent 1px,
      /* 透明间隔开始 */ transparent 4px /* 透明间隔结束，控制线条间距 */
    );
  }
  &:hover:not(:has(.cell-content:hover)) {
    background-color: #f5f5f5;
  }
  &.focus:hover:not(:has(.cell-content:hover)) {
    background-color: #e6f3ff;
  }
  &.untouchable {
    background-color: #f5f5f5;
  }

  @media (max-width: 768px) {
    padding: 8px;
  }

  @media (max-width: 480px) {
    padding: 4px;
  }

  .masked {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000006b;
  }

  .cell-input {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 0.8rem;
    transition: background-color 0.2s ease;
    align-self: stretch;
    max-width: 1000px;
    min-width: 15px;
    min-height: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
    position: relative;
    outline: none;
  }

  .editing {
    cursor: text;
    color: black;
    text-shadow: none;
  }

  > .adaptive-table {
    margin-left: 10px;
    margin-right: 3px;
    margin-bottom: 3px;
    width: auto;
    place-items: flex-start;
  }

  &.focus {
    user-select: text;
    background-color: #e6f3ff;
    &::before {
      position: absolute;
      content: '';
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      border: 2px solid #007acc;
      pointer-events: none;
    }
  }
}

.non-top-bd::before {
  border-top: none !important;
}
.non-left-bd::before {
  border-left: none !important;
}
.non-right-bd::before {
  border-right: none !important;
}
.non-bottom-bd::before {
  border-bottom: none !important;
}

.cell-header-first::first-line {
  font-weight: bold;
  font-size: calc(1em + 0.2rem);
}
.cell-mist {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
