.adaptive-table {
  width: max-content;
  height: max-content;
  border-collapse: collapse;
  border: 2px solid #999;
  background-color: white;

  .table-cell {
    border: 1px solid #ddd;
    padding: 0;
    position: relative;
    width: auto;
    height: 0px;
    vertical-align: top;

    @media (max-width: 768px) {
      height: 80px;
      font-size: 14px;
    }

    @media (max-width: 480px) {
      height: 60px;
      font-size: 12px;
    }
  }

  td.bd-left-preview{
    border-left-width: 3px !important;
    border-left-style: dashed !important;
    border-left-color: red !important;
  }
  td.bd-right-preview{
    border-right-width: 3px !important;
    border-right-style: dashed !important;
    border-right-color: red !important;
  }
  td.bd-top-preview{
    border-top-width: 3px !important;
    border-top-style: dashed !important;
    border-top-color: red !important;
  }
  td.bd-bottom-preview{
    border-bottom-width: 3px !important;
    border-bottom-style: dashed !important;
    border-bottom-color: red !important;
  }

  .adaptive-table{
    box-shadow: 3px 3px 0px #333;
  }
}
